* {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ededf7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container strong {
  font-size: 4rem;
  background: linear-gradient(to right, #f32170,
      #cf23cf, #8544ee, #520ef0);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.container span {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}